{# --- helpers --- #}
{% macro csv_row(items) -%}
{{ items | map('default','') | map('string')
         | map('replace','"','""')
         | map('regex_replace','^(.*)$','"\\1"')
         | join(',') }}
{%- endmacro %}
hostname,hostname_en_maquina,memoria,Modelo de Procesador,No. de procesadores,version SO,tipo SO,kernel,virtualizador,memoria fisica,direcciones IP,nameservers,discos físicos
{% for h in hostvars if h != 'localhost' %}
{{ csv_row([
  h,
  hostvars[h].ansible_hostname,
  hostvars[h].ansible_memtotal_mb,
  hostvars[h].ansible_processor[2],
  hostvars[h].ansible_processor_count,
  hostvars[h].ansible_distribution_version,
  hostvars[h].ansible_distribution_file_variety,
  hostvars[h].ansible_kernel,
  hostvars[h].ansible_system_vendor,
  hostvars[h].ansible_memory_mb.real.total,
  (hostvars[h].ansible_all_ipv4_addresses | default([]) | join(',')),
  (hostvars[h].ansible_dns.nameservers | default([]) | join(',')),
  (hostvars[h].discos_fisicos | join(',')),
]) }}
{% endfor %}
